$mainFont:'Roboto Mono', monospace;
$normalFont:16px;
$themeColor:#E7B3A6;
$whiteColor:#F3F7F8;
$darkColor:#342E31;
$grayColor:#B4B5AA;
$orangeColor:#E55E3C;
$blueColor:#4964F0;
$greenColor:#A4D0A4;
$redColor:#B70404;
