$mainFont:'Roboto Mono', monospace;
$normalFont:16px;
$themeColor:#e7b3a6;
$whiteColor:#f3f7f8;
$darkColor:#342e31;
$grayColor:#b4b5aa;
$orangeColor:#e55e3c;
$blueColor:#4964f0;
$greenColor:#a4d0a4;
$redColor:#b70404;
