@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,700&family=Poppins:ital,wght@0,500;0,600;0,700;1,200;1,400;1,500;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Space+Mono&display=swap');
@import "variable";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $mainFont;
  font-size: $normalFont;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  margin: auto;

  img {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  h2 {
    color: $themeColor;
    font-size: 20px;
    font-weight: 600;
  }
}

main {
  form {
    label {
      font-size: 2.5rem;
      color: $orangeColor;
      font-weight: 500;
    }

    span {
      font-size: 1.3rem;
      font-weight: 500;
      color: $greenColor;
    }

    .small-text {
      transform: scale(0);
      transition: all 0.4s ease;
      display: none;
    }

    .show-small-text {
      transform: scale(1);
      transition: all 0.4s ease;
      display: block;
    }

    .complete-image {
      width: 30%;
    }

    input {
      border-radius: 16px;
      border-color: $themeColor;
      padding: 12px 10px;
      width: 80%;
      overflow-x: scroll;
    }

    input:focus {
      outline-style: double;
      outline-color: $greenColor;
      border: 1px solid $greenColor;
    }

    .sample-button {
      width: 30%;
      border-radius: 10px;
      padding: 5px 12px;
      margin-top: 1rem;
      background-color: $themeColor;
      color: $darkColor;
      border: none;
    }

    .sample-button:active {
      border: 1px solid $darkColor;
    }

    #clear-btn {
      border-radius: 10px;
      padding: 5px 12px;
      margin-top: 1rem;
      background-color: $themeColor;
      color: $darkColor;
      border: none;
      width: 50%;
    }
  }
}

.tasks-container {
  border-radius: 15px;
  background-color: $whiteColor;
  color: $darkColor;
  width: 90%;
  margin: auto;
  height: auto;

  .tasks-wrapper {
    background-color: $darkColor;
    color: $whiteColor;
    padding: 16px 12px;
    border-radius: 14px;
  }

  .correct-btn,
  .delete-btn {
    border-radius: 15px;
    background-color: $orangeColor;
    color: $darkColor;
    outline: none;
    border: none;
  }

  i {
    padding: 10px 12px;
  }

  .done {
    background-color: $greenColor;
    color: $whiteColor;
  }

  .complete-task {
    width: 50%;
    border: 1px solid $greenColor;
    border-radius: 12px;
    text-decoration: line-through;
    text-decoration-color: $redColor;
    transition: width 0.4s ease;
  }
}

.button-container {
  width: 100%;
  text-align: center;

  .view-goals {
    width: 30%;
    border-radius: 10px;
    padding: 6px 7px;
    text-align: center;
    margin-top: 1rem;
    background-color: $themeColor;
    color: $darkColor;
    border: none;
  }

  .view-goals:active {
    border: 1px solid $darkColor;
  }
}

.modal-container {
  max-width: 500px;
  width: 350px;
  height: 500px;
  background-color: $whiteColor;
  color: $orangeColor;
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 10;

  .modal-header {
    width: 90%;
    margin: auto;
  }

  ol {
    li {
      list-style-type: square;
    }
  }

  .modal-cross-btn {
    background-color: inherit;
    padding: 2px 7px;
    border: 1px solid $orangeColor;
    border-radius: 12px;
    outline-color: $blueColor;
    color: $orangeColor;
  }

  .modal-cross-btn:active {
    border: 1px solid $themeColor;
    border-radius: 12px;
    transition: all 0.5s ease;
  }

  .modal-cross-btn:active i {
    color: $themeColor;
  }
}

.showDisplay {
  transform: translate(-50%, -50%);
  left: 50%;
  display: block;
  transition: all 0.4s ease;
}

#overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
